.logo-uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .upload-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  